root = true

[*.cs]
dotnet_sort_system_directives_first = true

insert_final_newline = true
trim_trailing_whitespace = true

indent_style = tab

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_preserve_single_line_statements = false
