<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local" value="resources" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="local">
            <package pattern="SteamKit2" />
        </packageSource>
    </packageSourceMapping>
</configuration>
