<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="2.0.0-beta0018" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="1.30.0-beta01" targetFramework="net461" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net461" />
  <package id="NLog" version="5.0.0-beta05-test" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Resource.Embedder" version="1.2.2" targetFramework="net461" developmentDependency="true" />
  <package id="SteamKit2" version="1.8.0" targetFramework="net461" />
</packages>