<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.5.0-beta9" targetFramework="net461" />
  <package id="Humanizer" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.af" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ar" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.bg" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.bn-BD" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.cs" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.da" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.de" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.el" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.es" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fa" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fi-FI" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fr-BE" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.he" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.hr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.hu" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.id" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.it" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ja" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.lv" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.nb" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.nb-NO" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.nl" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.pl" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.pt" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ro" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ru" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sk" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sl" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sr-Latn" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sv" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.tr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.uk" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.vi" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.zh-CN" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.zh-Hans" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.zh-Hant" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net461" />
  <package id="NLog" version="5.0.0-beta07" targetFramework="net461" />
  <package id="NLog.Windows.Forms" version="4.2.3" targetFramework="net461" />
  <package id="protobuf-net" version="2.2.1" targetFramework="net461" />
  <package id="Resource.Embedder" version="1.2.2" targetFramework="net461" developmentDependency="true" />
  <package id="SteamKit2" version="2.0.0-Alpha4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0-preview1-25305-02" targetFramework="net461" />
</packages>