name: ASF-lock-threads

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

permissions:
  discussions: write
  issues: write
  pull-requests: write

concurrency:
  group: lock-threads

jobs:
  lock:
    runs-on: ubuntu-latest
    steps:
      - name: Lock inactive threads
        uses: dessant/lock-threads@7266a7ce5c1df01b1c6db85bf8cd86c737dadbe7 # v6.0.0
        with:
          discussion-inactive-days: 90
          issue-inactive-days: 60
          pr-inactive-days: 60
